# List your project dependencies here
numpy
pandas
matplotlib
scipy
aiobotocore
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
astropy
astropy-iers-data
astroquery
attrs
autograd
beautifulsoup4
bokeh
botocore
certifi
charset-normalizer
colorama
contourpy
cycler
fbpca
fonttools
frozenlist
fsspec
html5lib
idna
jaraco.classes
jaraco.context
jaraco.functools
Jinja2
jmespath
joblib
keyring
kiwisolver
lightkurve
MarkupSafe
memoization
more-itertools
multidict
narwhals
oktopus
packaging
patsy
pillow
propcache
pyerfa
pyparsing
python-dateutil
pytz
pyvo
pywin32-ctypes
PyYAML
requests
s3fs
scikit-learn
six
soupsieve
threadpoolctl
tornado
tqdm
typing_extensions
tzdata
uncertainties
urllib3
webencodings
wrapt
xyzservices
yarl
